* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #222;
  --drak-gray: #555555;
  --light-gray: #d9d9d9;
  --blue: #317ff9;
  --pink: #ffc7b2;
  --border-radius: 16px;
}

body {
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  background: #eee;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.4;
  margin: 0 0 10px;
}

h4,
h5 {
  margin: 0 0 5px;
}

h4 {
  font-weight: 300;
}

.app-wrapper {
  margin-top: 50px;
}

.expanded-flex {
  display: flex;
  flex-direction: column;
}

.content {
  background: var(--white);
  padding: 12px 16px;
  z-index: 2;
  position: relative;
  display: flex;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-gray);
}

.expanded .content {
  border-radius: 20px;
}

.title {
  line-height: normal;
  margin: 0 0 10px;
  font-size: 14px;
}

.location {
  font-size: 14px;
  margin: 0 0 10px;
}

.description {
  white-space: pre-line;
  color: var(--black);
  font-size: 16px;
}

.more {
  font-size: 14px;
  color: #3182f6;
  margin-bottom: 0px;
}

.item-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.item-content-container.open {
  z-index: 1000;
  top: 10%;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  padding: 60px 0;
}

.item-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  height: 100%;
  margin: 0 8px;
}

.item-content ul {
  margin: 16px 4px;
}

.item-content li {
  margin-bottom: 16px;
}

.open .item-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 990px;
  will-change: opacity;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.5s ease;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  padding: 460px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
}
